<div>
  <h2 id="page-heading" data-cy="MoloniConfigurationHeading">
    <span jhiTranslate="jhipsterSampleApplicationApp.moloniConfiguration.home.title">Moloni Configurations</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.moloniConfiguration.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-moloni-configuration"
        [routerLink]="['/moloni-configuration/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="jhipsterSampleApplicationApp.moloniConfiguration.home.createLabel"> Create a new Moloni Configuration </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="moloniConfigurations?.length === 0">
    <span jhiTranslate="jhipsterSampleApplicationApp.moloniConfiguration.home.notFound">No moloniConfigurations found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="moloniConfigurations && moloniConfigurations.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="username">
            <span jhiTranslate="jhipsterSampleApplicationApp.moloniConfiguration.username">Username</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="password">
            <span jhiTranslate="jhipsterSampleApplicationApp.moloniConfiguration.password">Password</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="company">
            <span jhiTranslate="jhipsterSampleApplicationApp.moloniConfiguration.company">Company</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="client">
            <span jhiTranslate="jhipsterSampleApplicationApp.moloniConfiguration.client">Client</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="secret">
            <span jhiTranslate="jhipsterSampleApplicationApp.moloniConfiguration.secret">Secret</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let moloniConfiguration of moloniConfigurations; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/moloni-configuration', moloniConfiguration.id, 'view']">{{ moloniConfiguration.id }}</a>
          </td>
          <td>{{ moloniConfiguration.username }}</td>
          <td>{{ moloniConfiguration.password }}</td>
          <td>{{ moloniConfiguration.company }}</td>
          <td>{{ moloniConfiguration.client }}</td>
          <td>{{ moloniConfiguration.secret }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/moloni-configuration', moloniConfiguration.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/moloni-configuration', moloniConfiguration.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(moloniConfiguration)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="moloniConfigurations && moloniConfigurations.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
