<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-moloni-expedition-document-heading"
        data-cy="MoloniExpeditionDocumentCreateUpdateHeading"
        jhiTranslate="jhipsterSampleApplicationApp.moloniExpeditionDocument.home.createOrEditLabel"
      >
        Create or edit a Moloni Expedition Document
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.moloniExpeditionDocument.origin" for="field_origin"
            >Origin</label
          >
          <select class="form-control" name="origin" formControlName="origin" id="field_origin" data-cy="origin">
            <option [ngValue]="null">{{ 'jhipsterSampleApplicationApp.MoloniEndpoints.null' | translate }}</option>
            <option *ngFor="let moloniEndpoints of moloniEndpointsValues" [value]="moloniEndpoints">
              {{ 'jhipsterSampleApplicationApp.MoloniEndpoints.' + moloniEndpoints | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipsterSampleApplicationApp.moloniExpeditionDocument.destination"
            for="field_destination"
            >Destination</label
          >
          <select class="form-control" name="destination" formControlName="destination" id="field_destination" data-cy="destination">
            <option [ngValue]="null">{{ 'jhipsterSampleApplicationApp.MoloniEndpoints.null' | translate }}</option>
            <option *ngFor="let moloniEndpoints of moloniEndpointsValues" [value]="moloniEndpoints">
              {{ 'jhipsterSampleApplicationApp.MoloniEndpoints.' + moloniEndpoints | translate }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label
            class="form-control-label"
            jhiTranslate="jhipsterSampleApplicationApp.moloniExpeditionDocument.shippingProcess"
            for="field_shippingProcess"
            >Shipping Process</label
          >
          <select
            class="form-control"
            id="field_shippingProcess"
            data-cy="shippingProcess"
            name="shippingProcess"
            formControlName="shippingProcess"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                shippingProcessOption.id === editForm.get('shippingProcess')!.value?.id
                  ? editForm.get('shippingProcess')!.value
                  : shippingProcessOption
              "
              *ngFor="let shippingProcessOption of shippingProcessesSharedCollection; trackBy: trackShippingProcessById"
            >
              {{ shippingProcessOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.moloniExpeditionDocument.config" for="field_config"
            >Config</label
          >
          <select class="form-control" id="field_config" data-cy="config" name="config" formControlName="config">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                moloniConfigurationOption.id === editForm.get('config')!.value?.id
                  ? editForm.get('config')!.value
                  : moloniConfigurationOption
              "
              *ngFor="let moloniConfigurationOption of moloniConfigurationsSharedCollection; trackBy: trackMoloniConfigurationById"
            >
              {{ moloniConfigurationOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
